* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(125deg, #74ebd5, #ACB6E5);
}

.xy-container {
    width: 60%;
    height: 600px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.xy-menu {
    height: 100px;
    width: 300px;

    display: flex;
    justify-content: space-around;
}

.xy-play, .xy-closed {
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
}

img {
    width: 100%;
    height: 100%;
}

.xy-main {
    height: 500px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.xy-1, .xy-2, .xy-3, .xy-4,
.xy-5, .xy-6, .xy-7, .xy-8 {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: white;
}

.xy-1 {
    height: 75%;
    background-color: deeppink;
}

.xy-2 {
    height: 72%;
    background-color: orange;
}

.xy-3 {
    height: 69%;
    background-color: aquamarine;
}

.xy-4 {
    height: 66%;
    background-color: darkgreen;
}

.xy-5 {
    height: 63%;
    background-color: lightblue;
}

.xy-6 {
    height: 60%;
    background-color: cyan;
}

.xy-7 {
    height: 57%;
    background-color: blue;
}

.xy-8 {
    height: 54%;
    background-color: red;
}

button {
    transition: transform 300ms ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}